/* Font of the web site */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

/*color*/

:root {
    --primary: #1a253f;
    --dark: #151A33;
    /*still add more colors*/
}


/* #my{
    zoom: 100%;
} */


/* basic setting*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*body tag */


/*element selector used*/

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--dark);
    -webkit-font-smoothing: antialiased;
    /* height: 5000px; */
    padding-bottom: 4rem;
    zoom: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    line-height: 1;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
}

nav {
    background: var(--primary);
    padding: 1.6rem 0;
}

nav .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .inner .logo {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}


/* nav .logo {
    /* padding-left: 50px; */


/* } */


/* #button1 {
    /* padding-right: 50px; */


/* } */

nav .inner .logo i {
    color: red;
}

nav .inner button {
    background: blue;
    border: none;
    padding: 0.6rem 1rem;
    color: white;
    font-size: 14px;
    border-radius: 4px;
}

.avatar>img {
    width: 100px;
    height: 100px;
}

section.profile {
    border-radius: 3%;
    background: rgb(31, 16, 16);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
    padding-bottom: 4rem;
}

section.profile .left {
    flex: 2;
    display: flex;
    align-items: center;
}

section.profile .right {
    flex: 1;
}

section.profile .left h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
}

section.profile .left p {
    color: rgb(236, 190, 190);
    font-size: 14px;
}

section.profile .left img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

section.profile .left .avatar {
    position: relative;
    margin-right: 2rem;
}

section.profile .left .cd-headline.loading-bar .cd-words-wrapper::after {
    background: linear-gradient(to right, blue, green);
}

section.profile .left p b {
    padding-bottom: 1rem;
    font-weight: 400;
}

section.profile .left .avatar span {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background: blue;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 0px 20px 0px rgba(32, 41, 54, 0.05);
    cursor: pointer;
}

section.profile .right ul.contact {
    list-style-type: none;
    margin-bottom: 1.6rem;
}

section.profile .right ul.contact li {
    color: rgb(210, 166, 115);
    margin-bottom: 0.7rem;
    font-size: 14px;
}

section.profile .right ul.contact li i {
    font-size: 18px;
    margin-right: 0.3rem;
}

section.profile .right ul.socials {
    display: flex;
    align-items: center;
    list-style-type: none;
}

section.profile .right ul.socials li {
    margin-right: 0.8rem;
}

section.profile .right ul.socials li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: white;
    line-height: 36px;
    text-align: center;
}

section.profile .right ul.socials li:nth-child(1) a {
    background: #3b5998;
}

section.profile .right ul.socials li:nth-child(2) a {
    background: #00acee;
}

section.profile .right ul.socials li:nth-child(3) a {
    background: #f09433;
}

.section__heading {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    color: white;
    margin-bottom: 6rem;
    text-shadow: 0 0 1px rgba(40, 54, 95, 0.1);
    position: relative;
    align-items: center;
    margin-left: 40px;
}

main {
    padding: 1rem;
    align-content: center;
    /* align-items: center; */
}

section.about {
    /*background: var(--dark);*/
    background: #1a253f;
    align-items: center;
    padding: 3rem;
    margin-left: 100px;
    margin-right: 100px;
    /* padding-bottom: 1rem; */
}

.section__heading::after {
    content: '';
    height: 3px;
    position: absolute;
    width: 70px;
    top: 30px;
    left: 0px;
    border: 1px dotted red;
}

section.about .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}

section.about .heading_about {
    display: grid;
    margin-bottom: 30px;
    margin-top: 10px;
}

section.about .content h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 0.1rem;
    color: blue;
}

section.about .content p {
    color: rgba(234, 135, 143, 0.924);
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    margin-bottom: 0.1rem;
}

section.about .content .left button {
    background: rgba(77, 121, 246, 0.1);
    color: blue;
    padding: 4px 8px;
    border: none;
    font-size: 12px;
    line-height: 24px;
    outline: none;
    cursor: pointer;
}

section.about .content .right p {
    line-height: 1.6;
    font-size: 14px;
    color: rgba(234, 135, 143, 0.924);
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}

section.about .content .right p span:nth-child(1) {
    width: 130px;
    float: left;
    font-weight: 500;
    padding-right: 10px;
    display: block;
    position: relative;
}

section.about .content .right p span:nth-child(2) {
    padding-left: 100px;
    display: block;
}

section.about .content .right p span:nth-child(1)::after {
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
}

section.skills .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

section.skills .content .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.skills .content .left .heading {
    margin-bottom: 2rem;
}

section.skills .content .left .heading i {
    color: #1a11cc;
    font-size: 53px;
}

section.skills .content .left .heading h5 {
    font-size: 16px;
    margin-top: 0.5rem;
    color: #00acee;
}

section.skills .content .left p {
    font-size: 14px;
    color: #56bce4;
    line-height: 1.7;
}

section.skills .content .left p.center {
    color: purple;
}

section.skills .content .left .item {
    margin-bottom: 2.6rem;
    margin-left: 15px;
    position: relative;
}

section.skills .content .left .timeline__wrapper {
    border-left: 2px dotted darkblue;
}

section.skills .content .left .item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid blue;
    border-radius: 50%;
    margin-left: -21px;
}

section.skills .skills__wrapper .skill-box h4 {
    color: red;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}

section.skills .skills__wrapper .skill-box {
    margin-bottom: 4rem;
}

section.skills .skills__wrapper .skill-box .progress__wrap {
    background: #20204a;
    height: 6px;
    width: 100%;
    box-shadow: 0px 0px 1px 0.25px #4d79f6;
    border: 2px solid #1a253f;
    border-radius: 10px;
}

section.skills .skills__wrapper .skill-box .progress__wrap .progress__bar {
    display: block;
    height: 100%;
    background: blue;
    width: 0;
    position: relative;
    transition: all 2s ease-in-out;
}

section.skills .skills__wrapper .skill-box .progress__wrap .tooltip {
    position: absolute;
    right: -15px;
    top: -30px;
    margin-bottom: 10px;
    color: #f09433;
    font-size: 16px;
    text-transform: uppercase;
}

section.counter__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: red;
}

section.counter__section>div {
    display: flex;
    align-items: center;
}

section.counter__section>div i {
    font-size: 42px;
    margin-right: 5px;
}

section.counter__section>div:nth-child(1) i {
    color: yellow;
}

section.counter__section>div:nth-child(2) i {
    color: green;
}

section.counter__section>div:nth-child(3) i {
    color: rgb(161, 18, 108);
}

section.counter__section>div h3 {
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin-bottom: 8px;
}

section.counter__section>div h5 {
    font-size: 14px;
    color: white;
}


/*
Differences between flexbox and grid
*/

section.work .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
}

section.work .wrapper .portfolio .tabs ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

section.work .wrapper .portfolio .tabs ul li a {
    color: #f09433;
    border-bottom: 1px solid transparent;
    padding: 10px 15px;
    font-size: 14px;
    letter-spacing: 2px;
}

section.work .wrapper .portfolio .tabs ul li a.active {
    border-color: blue;
    color: #1a11cc;
    transition: all .3s ease-in-out;
}

section.work .wrapper .portfolio .portfolio__wrapper {
    margin-top: 4rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
}

section.work .wrapper .portfolio .portfolio__wrapper .item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

section.work .wrapper .portfolio .portfolio__wrapper a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.work .wrapper .slider__wrapper .icon__wrap {
    color: #1a11cc;
    font-size: 26px;
    text-align: center;
}

section.work .wrapper .slider__wrapper {
    overflow: hidden;
}

section.work .wrapper .slider__wrapper .slider .slide p {
    color: aliceblue;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-right: 1rem;
}

section.work .wrapper .slider__wrapper .slider .slide img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    /* align-items: center; */
}

section.work .wrapper .slider__wrapper .slider .slide h2 {
    font-size: 16px;
    color: #1a11cc;
    margin-top: 1rem;
}

section.work .wrapper .slider__wrapper .slider .slide h6 {
    color: white;
    font-size: 12px;
    margin-top: 1rem;
}

section.work .wrapper .slider__wrapper .slider .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.partners .brands__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.contact .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 60px;
    margin-top: 30px;
    align-items: center;
}

section.contact .wrapper .left>div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

section.contact .wrapper .left>div div:nth-child(1) {
    margin-right: 10px;
}

section.contact .wrapper .left i {
    font-size: 30px;
    color: blue;
}

section.contact .wrapper .left h4 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

section.contact .wrapper .left {
    color: #3b5998;
}

section.contact .wrapper .left h4+span {
    font-weight: 300;
    font-size: 14px;
}

section.contact .wrapper .right .form__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 14px;
}

section.contact .wrapper .right .form__group>div {
    display: flex;
    flex-direction: column;
}

section.contact .wrapper .right .form__group>div label {
    color: #1a11cc;
    margin-bottom: 8px;
}

section.contact .wrapper .right .form__group>div input,
section.contact .wrapper .right .form__group.textarea__wrapper textarea {
    padding: 10px;
    border-radius: 4px;
    background: #1a253f;
    border: 1px solid darkblue;
    color: white;
    /* font-size: 16px; */
}

section.contact .wrapper .right .form__group>div input:focus,
section.contact .wrapper .right .form__group.textarea__wrapper textarea:focus {
    border-color: #1a11cc;
    outline: none;
}

section.contact .wrapper .right .form__group.textarea__wrapper {
    display: block;
    width: 100%;
}

section.contact .wrapper .right button {
    background: #1a11cc;
    border: none;
    padding: 1rem 2rem;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

section.contact .wrapper .right button:hover {
    background: #022068;
}

footer {
    background: #1a11cc;
    width: 100%;
    text-align: center;
    padding: 1rem 0rem;
    font-size: 14px;
    color: white;
}

@media (max-width: 1280px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 1024px) {
    section.profile {
        flex-direction: column;
        align-items: flex-start;
        clip-path: none;
    }
    section.profile .left {
        margin-bottom: 2rem;
    }
    section.profile .right {
        align-self: flex-end;
    }
    section.work .wrapper {
        display: block;
    }
    section.work .wrapper .slider__wrapper {
        margin-bottom: 8rem;
    }
}

@media (max-width: 1056px) {
    section.contact .wrapper {
        display: block;
    }
}

@media (max-width: 918px) {
    section.partners .brands__wrapper {
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem; */
        flex-wrap: wrap;
    }
    section.partners .brands__wrapper img {
        margin-bottom: 2rem;
    }
}

@media (max-width: 875px) {
    section.skills .content {
        display: block;
    }
    section.skills .content .left {
        margin-bottom: 6rem;
    }
    section.contact .wrapper .left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section.counter__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section.counter__section>div {
        margin-bottom: 2rem;
    }
    section.about .content {
        display: block;
    }
    section.about .content .left {
        margin-bottom: 6rem;
    }
}

@media (max-width: 721px) {
    section.contact .wrapper .right {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section.contact .wrapper .right .form__group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 594px) {
    section.profile .left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    section.profile .detail {
        margin-top: 2rem;
    }
    section.profile .avatar {
        padding-left: 5rem;
    }
}

@media (max-width: 545px) {
    section.profile {
        border-radius: 3%;
        background: rgb(31, 16, 16);
        display: flex;
        align-items: center;
        padding: 3rem;
        margin-top: 60px;
        margin-left: 0px;
        margin-right: 0px;
        /* clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%); */
        padding-bottom: 4rem;
    }
    section.about {
        /* background: var(--dark); */
        background: #1a253f;
        align-items: center;
        padding: 3rem;
        margin-left: 0px;
        margin-right: 0px;
        /* padding-bottom: 1rem; */
    }
    section.counter__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: red;
    }
}